html,
body {
    height: 100%;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.gradient {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(20, 162, 32, 1) 0%, rgba(252, 176, 69, 1) 100%);
}

.page-header {
    margin-top: 4rem;
    font-size: 20px;
}
